@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #d7ff00;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-secondary {
  color: #738f00;
}

.text-oswald {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
}


